<h1>Welcome to Indio</h1>
<p>#{user.capitalize}, thank you for signing up! In order to take advantage of everything we offer, please confirm your email address! <a href="www.jahvon.me/confirm#{user}-#{code}">CLICK HERE TO CONFIRM</a></p>